 html, body { 
  font-weight: 400;
  background-color: #1e1e1e;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

  h1{
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }



  p{
    color: aliceblue;
  }

  .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2e2e2e;
  color: rgb(162, 159, 91);
  text-align: center;
  padding: 10px;
}

  .footer1 {

  bottom: 0;
  left: 0;
  width: 100%;
  background: #2e2e2e;
  color: rgb(162, 159, 91);
  text-align: center;
  padding: 10px;
}